table {
  table-layout: fixed;
  height: 1px;
  width: 60%;
}

td {
  font-size: 14px;
  border: 1px solid #000;
}

.text {
  font-size: 14px;
  font-family: inconsolata, consolas, monospace;
  width: 100%;
  height: 21px;
  margin: 0;
  padding: 2px;
  border: none;
  box-sizing: border-box;
}

#messages div {
  padding: 3px 0;
  font-family: monospace;
}

#issueButton {
  height: 32px;
  cursor: pointer;
}

#resumePauseButton {
  height: 100%;
  cursor: pointer;
}

.recognitionResult {
  height: 94px;
  padding: 3px;
}

.recognitionResultText {
  font-size: 24px;
}

.recognitionResultInfo {
  font-size: 15px;
  color: lightgrey;
  float: right;
}

.sending {
  color: white;
  background: red;
}

.supplement {
  font-size: 12px;
}

.bar {
  position: relative;
}

#version {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: -12px;
}

/*チャットのフィールド*/
#id_chat_view_field {
  width: 100%;
  /* min-height: 100vh; */
  min-height: 87vh; 
  padding: 7px 0 14px;
  box-sizing: border-box;
  background-color: #EEE;
  background-color: #81AECF;
  /*横向きのスクロール禁止*/
  overflow-x: hidden;
  /*縦向きのスクロール許可*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* IE、Edgeでスクロールバーを非表示にする */
  -ms-overflow-style: none;
  display: flex;
  justify-content: flex-start;
}

/*Chrome、Safariでスクロールバーを非表示にする*/
#id_chat_view_field::-webkit-scrollbar {
  display: none;
}

#id_chat_list {
  width: 100%;
  /*ulのデフォルの隙間を消す*/
  padding: 0;
  list-style: none;
}

#id_chat_list>li {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 7px;
  word-wrap: break-word;
}

#id_chat_list>li>.chat-username {
  font-size: 1.0rem;
}

#id_chat_list>li>div {
  display: inline-block;
  box-sizing: border-box;
  color: #000;
  border-radius: 6px;
  min-height: 23px;
  max-width: 90%;
  padding: 7px 13px;
  font-size: 2.0rem;
  line-height: 1.2em;
}

/*自分の吹き出し*/
.chat-right {
  margin-right: 15px;
  background: #A4E496;
  text-align: left;
}

/*吹き出しの矢印部分: ひし形*/
.chat-right::before {
  display: block;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: 50%;
  right: 0;
  margin-right: 7px;
  /*skewで歪ませ、rotateで回転*/
  -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
  -moz-transform: rotate(45deg) skew(-10deg, -10deg);
  -o-transform: Trotate(45deg) skew(-10deg, -10deg);
  -ms-transform: rotate(45deg) skew(-10deg, -10deg);
  transform-origin: 100% 0%;
  background: #A4E496;
}

/*相手の吹き出しのデザイン*/
.chat-left {
  margin-left: 15px;
  background: #FFF;
}

.chat-left::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  top: 50%;
  margin-left: -14px;
  -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
  -moz-transform: rotate(45deg) skew(-10deg, -10deg);
  -o-transform: rotate(45deg) skew(-10deg, -10deg);
  -ms-transform: rotate(45deg) skew(-10deg, -10deg);
  transform-origin: 100% 0%;
  background: #FFF;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.chat-username {
  color: white;
  font-size: 1px;
}

.channelListManagement {
  width: 100%;
  min-height: 100vh;
  border-style: solid;
  border-width: 1px;
  background-color:rgb(94, 200, 130);
  border-color: black;
  text-align: left;
  color: white;
}

.channelText {
  width: 20%;
}

.main_content {
  display: flex;
  width: 100%;
}

.recording_button {
  width: 15%;
}

.recognitionResult {
  width: 500px;
}

.recording_table {
  width: 100%;
}

.text {
  width: 100%;
}

.channel_content {
  width: 20%;
}

.recording_place {
  width: 80%;
  height: 100%;
} 

#id_addChannel{
  font-size: larger;
}

#id_channelListUl{
  list-style: none;
  font-size: larger;
}

.select_list_highlight {
  /*ハイライトする時のスタイル*/
  background-color:green;
  color:white;
}